
.fp-tableCell {
  /* background-color: tomato; */
}


.user-profile{
  display: flex;
  flex-direction: row;
}
.img-box {
  margin-right: 50px;
}
#name {
  /* 폰트 적용할것 */
  display: flex;
  
}
#name div{
  margin-right: 15px;
}
#profile-box{
  margin-top:50px
}
