@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

/* 맥주 디테일 전체 */
.beerdetail_section {
  font-family: "Open Sans", sans-serif;
  /* overflow-x: hidden; */
}
.layout_padding_beer {
  padding: 50px 0;
  padding-bottom: 90px;
}
.beerdetail_section {
  color: #0c0c0c;
  background-color: #fffaea;
}
.beerdetail_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


/* 포스트 배경 */
.BeerPosts_section {
  /* background: #222831;
  color: #ffffff; */
  color: #0c0c0c;
  background-color: #ffffff;
}


/* 목록으로가기 버튼 */
.beerdetail_section .backBtn {
  margin-bottom: 30px;
  /* color: #ffffff; */
}
.beerdetail_section .backBtn .btnText {
  /* color: #ffffff; */
  color: #000000;
  text-decoration: none;
}

/* 맥주 이름 */
/* .beerdetail_section h1,
.beerdetail_section h2 {
  font-family: 'Dancing Script', cursive;
} */


/* 맥주 이미지 */
.beerdetail_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}
.beerdetail_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}


/* 맥주 종류 */
.beerdetail_section .beerCategory {
  margin: 15px 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e69c00;
  display: inline-block;
  color: white;
}
.beerdetail_section .beerCategory_detail {
  margin: 15px 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e69c00;
  display: inline-block;
}



/* 맥주 이름 */
.heading_title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.heading_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 맥주 좋아요 하트 */
.beerdetail_section .heartInline {
  display: flex;
  align-items: center;
}
.beerdetail_section .heartInline .heartIcon {
  width: 150%;
  color: red;
}
.beerdetail_section .heartInline .like_count{
  padding-left: 5px;
  font-size: 22px;
}

/* 맥주별점 */
.beerdetail_section .star-ratings {
  /* color: #aaa9a9;  */
  /* color: white;  */
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  /* -webkit-text-stroke-color: #fffbca; */
  /* -webkit-text-stroke-color: #2b2a29; */
  font-size: larger;
}
.beerdetail_section .star-ratings-fill {
  /* color: #fff58c; */
  padding: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
  font-size: larger;

}
.beerdetail_section .star-ratings-base {
  z-index: 0;
  padding: 0;
  font-size: larger;
  font-weight: bold;
}

/* 맥주 별점 + 평가하기버튼 */
.beerdetail_section .rate_spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.beerdetail_section .starInline {
  display: flex;
  align-items: flex-end;
}
.beerdetail_section .starInline .star {
  font-size: x-large;
}
.beerdetail_section .RateBtn {
  font-size: smaller;
  display: inline-block;
  padding: 7px;
  background-color: #e69c00;
  color: #ffffff;
  border-radius: 45px;
  border: none;
}

/* 맥주 설명 + 도수 */
.beerdetail_section .beer_volume {
  font-size: 20px;
  /* color: #7a7e83; */
}
.beerdetail_section .beer_content {
  font-size: 17px;
  margin-top: 15px;

  /* color: #7a7e83; */
}

/* 맥주 해시태그 */
.beerdetail_section .hashtag {
  font-size: 1.4em;
  padding-left: 0.1rem;
  padding-right: 0.6rem;
  color: #FFC81E;

}


/* 맥주별 포스트 */
.postlist_section .heading_posts h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}
.postlist_section .heading_posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 포스팅하기버튼 */
.postlist_section .newPostBtn {
  margin: 20px 0; 
  padding: 5px;
  border-radius: 45px;
  background-color: #e69c00;
  display: inline-block;
}
.postlist_section .newPostBtn .btnText {
  color: #ffffff;
  text-decoration: none;
}

