@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

/* 카테고리에 따른 display: none */
.beerlist_section .displaynone {
  display: none;
}

/* fade in 효과 */
@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}
.beerlist_section .fadein {
 opacity: 0;
 animation: fadeIn ease-in 1;
 animation-fill-mode: forwards;
 animation-duration: 1s;
}

/* 전체 */
.beerlist_section body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding_beerlist {
  padding: 90px 0;
}

.beerlist_section h1,
.beerlist_section h2 {
  font-family: 'Dancing Script', cursive;
}

/* 맥주 리스트 제목 */
.beerlist_section .heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.beerlist_section .heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.beerlist_section .heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* 맥주 카테고리 */
.beerlist_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.beerlist_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
  /* font-family: 'Dancing Script', cursive; */
}
.beerlist_section .filters_menu li.active {
  background-color: #222831;
  color: #ffffff;
}

/* 맥주 각각 카드 */
.beerlist_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

/* 맥주 이미지 */
.beerlist_section .box .img-box {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}
.beerlist_section .box .img-box img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.beerlist_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* 맥주 설명란 */
.beerlist_section .box .beerdetail-box {
  padding: 25px;
}

.beerlist_section .box .beerdetail-box h5 {
  font-weight: 600;
}

.beerlist_section .box .beerdetail-box p {
  font-size: 15px;
}

.beerlist_section .box .beerdetail-box h6 {
  margin-top: 10px;
}

/* 맥주 이름 */
.beerlist_section .beerdetail-box .beerdetail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 자세히버튼 */
.beerlist_section .beerdetail-title .detailBtn {
  font-size: smaller;
  padding: 2px;
  /* background-color: #e69c00; */
  color: #ffffff;
  /* border-radius: 5px */
}

/* 맥주 카테고리 + 하트버튼 */
.beerlist_section .box .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.beerCategory {
  padding: 7px;
  border-radius: 15px;
  background-color: #e69c00;
}

/* 맥주 하트 */
.beerlist_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffbe33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.beerlist_section .box .options a:hover {
  cursor: pointer;
}
