.comment_section {
  background: #fffaea;
  color: #0c0c0c;
}
.layout_padding_comment {
  padding-bottom: 90px;
}

.comment_section h1,
.comment_section h2 {
  font-family: 'Dancing Script', cursive;
}

.comment_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-location-arrow{
  margin-left: 5px;
  color:#F9CF68
}


/* 댓글 작성 폼 */
.comment_section .comment_input {
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* 댓글 작성 버튼 */
.comment_section .comment_button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  padding: 5px 20px;
  margin-left: 5px;
}

/* 댓글목록 */
.comment_section .commentList {
  display: flex;
  align-items: baseline;
  padding-top: 7px;
}


/* 댓글 삭제 버튼 */
.trash-icon{
  color: #fcb400;
}
/* .comment_section button.deletebtn{
  display: inline-block;
  background-color: #ff3333;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  padding: 2px 8px;
  margin: 5px 0;
  margin-left: 5px;
  fill: #ffffff;
  font-size: 12px;
} */

/* pagination */
.comment_section .pagination {
  margin: 20px 10px;
}
.comment_section .pagination a:hover{
  font-weight: bold;
}
.comment_section .pagination a {
 cursor: pointer;
}