.home{
  position: relative;
}

#bubbles {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  overflow: hidden;
  top: 0;
  background: #ffba0c;
  z-index: -1;
}
/* 버블색깔 */
#bubbles div.bubble {
  background: #F9CF68;
  border-radius: 100%;
  position: absolute;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* -webkit-animation-timing-function: linear;
          animation-timing-function: linear; */

}


.main_container {
  margin: auto;
  width: 80vw;

}

/* 캐러셀 밑에 원 */
.slick-dots {
  bottom: 5px;
  /* margin-top: 200px; */
}

/* 제목 글씨 */
.recommendtitle, .bestbeer, .hotPost {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

.hot_name_color{
  color:black;
  text-decoration: none;
}

.reco_name_color{
  color:black;
  text-decoration: none;
}

/* 맥주이름 글씨 */
.beer_name {
  font-weight: bold;
  /* font-family: 'Dancing Script', cursive; */

}

/* slick 이미지  */
.slick-slide img {
  display: inline-block;
  max-height: 500px;
}
.slideDiv {
  display: inline-block;
}

.main_none{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.reco_none{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  margin: 20px 0;
  color: black;
  font-size: 30px;
  text-decoration : none
}

.hot_post_hashtag{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
}

@-webkit-keyframes fade{from{bottom:0px;opacity:1;visibility:visible}to{bottom:110%}}
        @keyframes fade{from{bottom:0px;opacity:1;visibility:visible}to{bottom:110%}}



