.login_heading {
  font-family: 'Dancing Script', cursive;
  margin-top: 80px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.loginBtn {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 40%;
}
