@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");


.navbar_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  justify-content: center;
  /* z-index: 100; */
}

/* 색깔 */
.navbar_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F9CF68;
  /* background-color: #222831; */
  /* background-color: #303952; */
  
}

.navbar_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar_page .navbar_area {
  min-height: auto;
}

.navbar_page .navbar_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.navbar_page .navbar_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.navbar_section {
  padding: 15px 0;
}

.navbar_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}



.searchbar {
  display: flex;
  align-items: baseline;
}

/* 로고 */
.navbar-macju {
  font-family: 'Dancing Script', cursive;
  margin-right: 0px;
  text-decoration: none;
}

.navbar-macju span {
  font-weight: bold;
  font-size: 27px;
  /* color: #ffffff; */
  color: black;
  margin: 0px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  display: flex;
  align-items: center;
  

}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  /* color: #ffffff; */
  color: black;
  text-align: center;
  text-transform: uppercase;
  /* border-radius: 5px; */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, 
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  /* color: #ffbe33; */
  color: rgb(172, 158, 113);
}

/* .custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
  color: rgb(172, 158, 113);
} */

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}

.user_option .user_link:hover {
  /* color: #ffbe33; */
  color: rgb(172, 158, 113);
}



.user_option .order_online {
  display: inline-block;
  padding: auto;
  background-color: #fce7b3;
  /* color: #ffffff; */
  /* color: black; */
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}


.custom_nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  /* 토글버튼 중간 색깔 */
  /* background-color: #ffffff; */
  background-color: black;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  /* border-radius: 5px; */
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, 
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* 토글버튼 위아래 색깔 */
  /* background-color: #ffffff; */
  background-color: black;
  top: -10px;
  /* border-radius: 5px; */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
