@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
.PostDetail body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding_postdetail {
  padding: 90px 0;
}

.PostDetail h1,
.PostDetail h2 {
  font-family: 'Dancing Script', cursive;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container h2 span {
  color: #ffbe33;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.book_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}


.client_section .heading_container {
  margin-bottom: 30px;
}

.postdetail_section {
  background: #222831;
  color: #ffffff;
}

.postdetail_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postdetail_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postdetail_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.postdetail_section .detail-box p {
  margin-top: 15px;
}

.postdetail_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.postdetail_section .detail-box a:hover {
  background-color: #e69c00;
}


.postdetail_section .heartInline {
  display: flex;
  align-items: flex-start;
}


.heartIcon {
  margin-top: 7px;
  color: red;
}