@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
.PostDetail body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #fffaea;
  /* background-color: #ffffff; */
  overflow-x: hidden;
}

.layout_padding_postdetail {
  padding-top: 50px ;
  padding-bottom: 90px;
}

/* 제목 */
.PostDetail h1,
.PostDetail h2 {
  font-family: 'Dancing Script', cursive;
}

.postdetail_section {
  background-color: #fffaea;
  color: black;
}

.postdetail_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 목록으로 버튼 */
.postdetail_section .backBtn {
  margin-bottom: 30px;
  color: #ffffff;
}
.postdetail_section .backBtn .btnText {
  color: #ffffff;
  text-decoration: none;
}


/* 포스트 이미지 */
.postdetail_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.postdetail_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

/* 포스트 좋아요,댓글, 맥주이름 */
.postdetail_heading {
  display: flex;
  justify-content: space-between;
}

/* 맥주이름 버튼 */
.postdetail_section .beerName {
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #e69c00;
  display: inline-block;
}
.postdetail_section .beerName:hover {
  cursor: pointer;
}

/* 좋아요 하트 */
.postdetail_likecomment {
  display: flex;
}
.postdetail_section .heartInline, 
.postdetail_section .commentInline {
  display: flex;
  align-items: center;
}
.postdetail_section .commentInline {
  padding-left: 20px;
}
.postdetail_section .heartInline .heartIcon {
  margin-top: 7px;
  color: red;
}
.heartIcon:hover {
  cursor: pointer;
}
.postdetail_section .postdetail_likecomment .count{
  padding-left: 8px;
  font-size: 25px;
}

/* 해시태그 */
.postdetail_hashtag {
  margin-bottom: 10px;
}
.postdetail_hashtag span {
  padding-right: 8px;
  font-size: 25px;
}

/* 작성자, 작성날짜 */
.userdetail {
  color: grey;
  margin: 5px 0;
}


/* 수정, 삭제 버튼 */
.postdetail_section .detail-box .updateBtn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}
.postdetail_section .detail-box .deleteBtn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}
.postdetail_section .detail-box .updateBtn:hover,
.postdetail_section .detail-box .deleteBtn:hover {
  background-color: #e69c00;
  cursor: pointer;
}
