.postlist_section.layout_padding_postlist {
  padding: 90px 0;
}

.postlist_section {
  background-color: #fffaea;
}

/* 제목 */
.postlist_section h1,
.postlist_section h2 {
  font-family: 'Dancing Script', cursive;
}

.postlist_section .postlist_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.postlist_section .postlist_header h2 {
  position: relative;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}
.postlist_section .postlist_header.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* 정렬 방법 게시 */
.postlist_order {
  display: flex;
  justify-content: flex-end;
}

/* fade in */
@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}
.postlist_section .fadein {
 opacity: 0;
 animation: fadeIn ease-in 1;
 animation-fill-mode: forwards;
 animation-duration: 1s;
}


.postlist_section .noPost {
  text-align: left;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 25px;
}

/* 포스트 카드 박스 */
.postlist_section .postlist_box {
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
  border-color: #F9CF68;
  border-width: 2px;
  border-style: solid;
  color: black;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff 25px);
  /* font-size: 20px; */
  line-height: 1.25em;
  /* font-weight: 600; */
}

/* 포스트 이미지 */
.postlist_section .postlist_box .img-box {
  background: #f9d068a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  margin: -1px;
}
.postlist_section .postlist_box .img-box img {
  /* max-width: 100%; */
  /* max-height: 130px; */
  -webkit-transition: all .2s;
  transition: all .2s;
}
.postlist_section .box:hover .img-box img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* 포스트 카드 내용 */
.postlist_section .postlist_box .postdetail-box {
  padding: 20px;
  padding-bottom: 10px;
}
.postlist_section .postlist_box .postdetail-box h5 {
  font-weight: 600;
  font-size: 15px;
}
.postlist_section .postlist_box .postdetail-box p {
  font-size: 14px;
  color: black;
}
.postlist_section .postlist_box .postdetail-box h6 {
  margin-top: 10px;
}

/* 포스트 내용 + 하트 한줄 */
.postdetail-box .postdetail-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 3px;
}



/* 포스트 작성 정보 */
.postlist_section .post-meta{
  /* margin-right: 15px; */
  opacity: 0.6;
  /* color:grey; */
  font-size: 0.85em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



/* 포스트 좋아요수 */
.postlist_section .fontaws{
  float:right
}

