.link_btn_all {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* list-style-type: none; */
  margin: 45px 0;
}

.link_btn {
  /* background-color: grey; */
}
.link_btn .profile_link {
  text-decoration: none;
  color: black;
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
  /* font-family: 'Dancing Script', cursive; */
}

.link_btn li.active {
  background-color: #222831;
  color: #ffffff;
}