@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");



/* fade in 효과 */
@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}
.search_section .fadein {
 opacity: 0;
 animation: fadeIn ease-in 1;
 animation-fill-mode: forwards;
 animation-duration: 1s;
}


/* 전체 */
.layout_padding_search {
  padding: 90px 0;
}
.search_section {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #fffaea;
  overflow-x: hidden;
}
.search_section h1,
.search_section h2 {
  font-family: 'Dancing Script', cursive;
}


/* 검색결과 제목 */
.search_section .heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.search_section .heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.search_section .heading_container h4 {
  margin-top: 15px;
  font-size: 1.2rem;
  /* font-weight: bold; */
}
.search_section .heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}


/* 맥주 검색 결과 */
.beer_title {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
}
/* 맥주 각각 카드 */
.search_section .beerlist_box {
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
  border-color: #F9CF68;
  border-width: 2px;
  border-style: solid;
  /* color: #ffffff; */
  color: black;
  overflow: hidden;
  /* background: linear-gradient(to bottom, #fce6b2 25px, #222831 25px); */
  background: linear-gradient(to bottom, #ffffff 25px);
}

/* 맥주 이미지 */
.search_section .beerlist_box .img-box {
  background: #f9d068a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  /* border-radius: 0 0 0 45px; */
  margin: -1px;
  padding: 25px;
}
.search_section .beerlist_box .img-box img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.search_section .beerlist_box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* 맥주 설명란 */
.search_section .beerlist_box .beerdetail-box {
  padding: 25px;
  height: 250px;
  position: relative;
}
.search_section .beerdetail-box .options {
  position: absolute;
  bottom: 10px;
}

/* 맥주설명 */
.search_section .beerlist_box .beerdetail-box .beer_volume {
  font-size: 15px;
  /* text-align: right; */
  color: #7a7e83;
  margin: 10px 0;
}

/* 맥주이름 */
.search_section .beerlist_box .beerdetail-box h5 {
  font-weight: 600;
}
.search_section .beerdetail-box .beerdetail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 맥주별점 */
.search_section .star-ratings {
  /* color: #aaa9a9;  */
  /* color: white;  */
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  /* -webkit-text-stroke-color: #fffbca; */
  /* -webkit-text-stroke-color: #2b2a29; */
}
.search_section .star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
.search_section .star-ratings-base {
  z-index: 0;
  padding: 0;
}


/* 맥주 자세히버튼 */
.search_section .beerdetail-title .detailBtn {
  font-size: smaller;
  padding: 2px;
  /* background-color: #e69c00; */
  color: #ffffff;
  /* border-radius: 5px */
}

/* 맥주 해시태그 */
.search_section .beer_hashtag_all{
  display: flex;
}
.search_section .beer_hashtag{
  padding-right: 5px;
  /* color: #FFA500	; */
  /* color: #FFB400; */
  color: #F9CF68;
}

/* 맥주 카테고리 */
.search_section .beerlist_box .beerdetail-box h6 {
  margin-top: 10px;
}
.search_section .beerlist_box .options_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_section .beerCategory {
  padding: 5px 6px;
  border-radius: 15px;
  background-color: #F9CF68;
}
.search_section .moreBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}


/* 포스트 검색 결과 */
.post_title {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
}
/* 포스트 카드 박스 */
.search_section .postlist_box {
  position: relative;
  margin-top: 25px;
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(to bottom, #fce6b2 25px, #222831 25px);
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
  border-radius: 20px;
}

/* 포스트 이미지 */
.search_section .postlist_box .img-box {
  background: #fce6b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  /* padding: 25px; */
}
.search_section .postlist_box .img-box img {
  max-width: 100%;
  max-height: 200px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.search_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* 포스트 카드 내용 */
.search_section .postlist_box .postdetail-box {
  padding: 25px;
}
.search_section .postlist_box .postdetail-box h5 {
  font-weight: 600;
  font-size: 15px;
}
.search_section .postlist_box .postdetail-box p {
  font-size: 14px;
}
.search_section .postlist_box .postdetail-box h6 {
  margin-top: 10px;
}

/* 포스트 내용 + 자세히버튼 한줄 */
.postdetail-box .postdetail-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3px;
}

/* 자세히 버튼 */
.postdetail-title .detailBtn {
  /* font-size: 10px;
  padding: 2px;
  background-color: #F9CF68;
  color: white;
  border-radius: 12px; */
  /* text-decoration: inherit;
  color: white; */
}

/* 포스트 작성 정보 */
.search_section .post-meta{
  margin-right: 15px;
  opacity: 0.6;
  color:grey;
  font-size: 0.85em;
}

/* 포스트 좋아요수 */
.search_section .fontaws{
  float:right
}
