.memberbeerlike_container {
  background-color: #fffaea;
  /* background-color: white; */
  margin: 50px 20px;
  font-family: "Open Sans", sans-serif;
}
.likebeer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likebeer_img {
  height: 8rem;

}
#text{
  font-family: 'Nanum Pen Script', cursive;
  font-size: xx-large;
}