.user-profile {
  display: flex;
  justify-content: center;
}
.userprofile_container{
  display: flex;
  flex-direction: column;
  
}


.userprofile_container .user-profile .img-box {
  margin-right: 50px;
}
#name {
  /* 폰트 적용할것 */
  display: flex;
  margin-bottom: 20px;
  
}
#name div{
  margin-right: 15px;
}
#profile-box{

  margin-top:50px
}
/* 
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */